/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
.container {
    margin-right: auto;
    margin-left: auto;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
  }


  .card {
    width: 30%;
    margin: 1rem;
}

.item {
  width: 46%;
  margin: 1rem;
}

.loading {
  width: 100%
}

@media (max-width: 480px) {
    .container {
      width: 100%;
    }
    .card {
        width: 100%;
    }
    .item {
      width: 100%;
    }
  }

  @media (min-width: 768px) {
    .container {
      width: 750px;
    }
  }
  @media (min-width: 992px) {
    .container {
      width: 970px;
    }
  }
  @media (min-width: 1200px) {
    .container {
      width: 1170px;
    }
  }